html {
  background-color: black;
}

.default-app {
  background-color: white;
  padding-top: 12px;
  padding-bottom: 1px;
  cursor: pointer;
}

p {
  color: red;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
}

.container h1 {
  font-size: 22px;
  padding-bottom: 5px;
  color: red;
}

#lightGroupName {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #50bcf2;
}

.continue-button p {
  font-size: 16px !important;
}

.container p {
  font-size: 21px;
  margin-top: -25px !important;
  margin-bottom: 35px;
  color: #777777;
}

#description {
  margin-right:50px;
  padding-top: 10px;
}
